body{
  color:white;
  font-family:sans-serif;
  line-height: 110%;
  background: gray url("sfondo.png") scroll center center repeat;
  counter-reset: contatore;
}
footer{
  font-family: serif;
  font-style: italic;
  font-size: 0.8rem;
}
a:link{
  color: aqua;
}/*link azzurri chiari*/
a:hover{
  color: yellow;
  background-color: blue;
}
a:visited{
  color:aqua;
  background-color: green;
}
td[type="voto"]{
  text-align: center;
  width: 50%;
}
td:in-range{
  color: lightgreen;
}
td:out-of-range{
  color: red;
}
/* TODO: impostare il coloramento (rosso o verde) in base al voto */
.wrapper {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
}
div img{
    width: 20%;
}
.citazione{
  font-family:cursive;
  text-align: center;
}
.autore{
  font-style: normal;
  font-size: 0.7rem;
  text-align: center;
}
.social{
  text-align: left;
  width: 10%;
}
p:first-letter{
  font-size: 200%;
  font-weight: bold;
  color: orange;
}
